@import "../../sass/variables.scss";

.ContactChapter {

    padding-bottom: 5rem;

    &__container {
        text-align: center;
    }

    &__header {
        font-weight: 700;
        font-size: 4rem;
        font-family: 'Nunito Sans';
        color: $primary;
        letter-spacing: 0.2rem;
        word-spacing: 0.4rem;
        margin-top: 10rem;
    }

    &__text {
        font-size: 2rem;
        color: $dark-grey;
        
        width: 55%;
        line-height: 3rem;
        margin: 2rem auto;

        & span {
            font-weight: 700;
        }
        
    }

    &__register-btn {
        padding: 1.25rem 8rem;
        font-size: 1.6rem;
        letter-spacing: 0.25rem;
        border: none;
        background-color: $primary;
        font-weight: 700;
        color: $white;
        position: relative;
        border-radius: 0.2rem;
        
        &:focus {
            outline: none
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;;
            background-color: rgba(233, 231, 229, 0.048);
            filter: blur(.5rem);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.11));
            transition: 0.75s;
            filter: blur(2rem);
        }

        &:hover::after {
            left: 100%
        }
    }


}