@import "../../sass/variables.scss";

.OurTeam {

    &__container {
        height: 100vh
    }

    &__card-container {
        padding: 7.5rem 0;
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        width: 15rem
    }

    &__card {
        width: 27%;
        display: flex;
        box-shadow: $box-shadow-2;
        cursor: pointer;
        margin-bottom: 7.5rem;
        margin-right: 5rem;
    }

    &__description-container {
        padding: 1.5rem;
    }

    &__education {
        color: $tomato-red;
    }

    &__title {
        font-size: 1.25rem;
    }

    &__input {
        margin: 5rem 0rem 0rem 16.5rem;
        padding: 1rem 2rem;
        font-size: 2rem;
        width: 50rem
    }

}