@import "../../sass/variables.scss";

.PersonCard {

    width: 35rem;
    background-color: $transparent-grey;
    height: 30rem;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 10rem;
    box-shadow: $box-shadow-2;
    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        margin-top: -7rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    &__social-container {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    &__icon {
        width: 1.5rem;
        cursor: pointer;
    }

    &__name {
        font-size: 3rem;
    }

    &__title {
        font-size: 1.75rem;
        color: $transparent-black;
        margin-bottom: 1rem;
    }

    &__text {
        width: 75%;
        font-size: 1.5rem;
        color: $transparent-black
    }

}