@import "../../sass/variables.scss";

.EventDashboard {

    &__nav {
        padding: 0rem 10rem;
        display: flex;
    }

    &__list-item {
        list-style: none;
        margin-right: 4rem;
        margin-bottom: 0.3rem;
        padding: 0.75rem 0;
        font-size: 1.75rem;
        cursor: pointer;
        
        &--active {
            border-bottom: 0.25rem solid $primary;
            font-weight: 700;
        }

    }

    &__container {
        background-color: rgba(85, 206, 236, 0.062);
        border-top: 0.2rem solid rgba(102, 103, 104, 0.185);
    }
    

}