$primary: #3B3667;
$primary-light: #676496;
$primary-light-transparent: #3f3e4d3d;
$primary-light-transparent: #82498d25;
$primary-transparent: rgba(59, 54, 103, 0.651);
$primary-purple: rgba(180, 42, 157, 0.144);

$secondary: rgb(241, 198, 119);
$secondary-dark: rgb(231, 175, 69);


$grey: #BFBFBF;
$dark-grey: rgb(90, 88, 88);
$transparent-grey: rgba(155, 153, 153, 0.089);
$transparent-grey-2: rgba(155, 153, 153, 0.171);
$less-transparent-grey: rgba(155, 153, 153, 0.452);
$inactive-grey: rgb(158, 156, 156);
$white: #FFFFFF;
$off-white: rgb(247, 244, 244);
$off-white-transparent: rgba(247, 244, 244, 0.466);
$off-black: rgb(20, 20, 20);
$transparent-black: rgba(0, 0, 0, 0.658);
$green: #90f09d;
$green-transparent: #90f09da2;
$yellow: #F0EC90;
$yellow-transparent: #f0ed908e;
$tomato-red: rgb(236, 69, 69);
$tomato-red-transparent: rgba(236, 69, 69, 0.63);
$alert-red: rgba(230, 15, 15, 0.87);
$light-blue: rgba(14, 49, 49, 0.041);

$box-shadow-1 :  0.15rem 0.15rem 2rem rgba(0, 0, 0, 0.582);
$box-shadow-2 :  0.15rem 0.15rem 2rem rgba(0, 0, 0, 0.24);
$box-shadow-3 :  0.15rem 0.15rem 2rem rgba(0, 0, 0, 0.096);
