@import "../../sass/variables.scss";

.Alert {
    
    &__container {
        border: 0.1rem solid $alert-red;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    &__container2 {
        text-align: center;
    }

    &__message {
        color: $alert-red;
        font-size: 1.5rem;
    }

    &__custom-message {
        font-size: 1.25rem;
    }
}