.EventDashboardPage {

    &__container {
        
    }

    &__text-container {
        padding: 5rem 10rem
    }

    &__header {
        font-size: 4rem;
    }

    &__description {
        font-size: 1.75rem;
        margin-top: 1rem;
    }


}