@import "../../sass/variables.scss";

.MonitorEvent {

    &__container {
        height: 100vh;
        display: flex;
        padding: 5rem 10rem
    }

    &__events-container {
        width: 60%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 2rem
    }

    &__event-detail-container {
        width: 40%;
        margin-top: 2rem;
    }

    &__card {
        height: 17.5rem;
        width: 17.5rem;
        background-color: $white;
        margin-right: 3rem;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
        box-shadow: $box-shadow-3;
        cursor: pointer;
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
    }

    &__event-info-card {
        height: 50rem;
        background-color: $white;
        box-shadow: $box-shadow-3;
        width: 100%;
        padding: 2rem;
        overflow-y: auto;
    }

    &__header {
        font-size: 2.5rem;
    }

    &__date {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        color: $dark-grey
    }

    &__attendes {
        font-size: 1.75rem;
        margin-top: 2rem;
    }

    &__attendes-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__view-more-btn {
        width: 20rem;
        height: 3rem;
        margin-top: 1rem;
        border: none;
        font-size: 1.25rem;
        color: $dark-grey
    }

    &__fields {

        font-size: 1.5rem;
        margin-top: 1rem;

        & span {
            font-weight: 600;
        }

    }

    &__btn-container {
        margin-top: 3rem;
    }

    &__btn {
        width: 15rem;
        padding: 0.75rem;
        margin-right: 2rem;
        border: none;
        font-size: 1.25rem;
        border-radius: .5rem;

        &--red {
            background-color: $tomato-red-transparent;
        }

        &--yellow {
            background-color: $yellow;
        }
    }

}