@import "../../sass/variables.scss";

.EventCardTwo {
    width: 30rem;
    height: 40rem;
    box-shadow: $box-shadow-3;
    margin-right: 5rem;
    margin-bottom: 10rem;

    &__img {
        width: 100%;
        height: 18rem
    }

    &__title {
        padding: 1rem
    }

    &__description {
        padding: 0 1rem;
        font-size: 1.25rem;
    }

    &__date {
        padding: 0 1rem;
    }

    &__learn-more-btn {
        margin: 1rem;
        border: none;
        background-color: $primary-light-transparent;
        padding: 1rem 2rem;
        width: 90%
    }
    
}